@font-face {
  font-family: "shrikhand";
  src: url("../font/Shrikhand-regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url("../font/Roboto-medium.ttf") format("truetype");
}
body {
  width: 100%;
  margin: 0;
  font-family: "roboto";
}
body .loading-pg {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 1;
  z-index: 120;
  animation: loader 2s both ease-out;
  position: fixed;
}
body .loading-pg .bouncer {
  opacity: 1;
  z-index: 110;
  transform: scale(1);
  position: fixed;
  animation: bounce 2s both ease-in-out;
}
body .loading-pg .spinner {
  border: 10px solid #f2f2f2;
  border-radius: 50%;
  border-top: 10px solid #99e2d0;
  width: 40px;
  height: 40px;
  margin-top: 150px;
  opacity: 1;
  z-index: 110;
  animation: spin 2s both linear;
}

.container {
  width: 90%;
  height: 100%;
  margin: auto;
  max-width: 1100px;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  cursor: pointer;
  border: none;
}

.main-button {
  border-radius: 50px;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  color: #fff;
  align-self: center;
  padding: 15px;
  font-weight: bold;
  z-index: 1;
  position: relative;
}
.main-button:hover::after {
  opacity: 1;
}
.main-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, #ff93e1, #8641d8);
  border-radius: 50px;
  opacity: 0;
  z-index: -1;
  box-shadow: 1px 2px 10px 1px #656565;
  transition: opacity 400ms;
}

.heart-button {
  background-color: transparent;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}
.heart-button:hover .full {
  animation: fillheart 500ms ease-out both;
  z-index: 10;
}
.heart-button:hover .empty {
  opacity: 0;
}
.heart-button > .heart {
  position: absolute;
  font-size: 25px;
}
.heart-button .full {
  transform: scale(0);
  color: transparent;
  background: linear-gradient(to top, #ff79da, #9356dc);
  background-clip: unset;
  -webkit-background-clip: text;
}

.back-button {
  color: #595959;
  align-items: center;
  display: flex;
  text-decoration: none;
  margin-right: 20px;
}
.back-button .back {
  font-size: 25px;
}

.check-button {
  width: 0%;
  height: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.check-button .check {
  color: #fff;
}

footer {
  background-color: #404040;
  color: #fff;
}
footer .container {
  padding: 20px;
}
footer .container h3 {
  font-size: 1.5em;
  font-family: "shrikhand";
}
footer .menu-footer {
  max-width: 900px;
}

.footer-liste {
  padding: 0;
}
.footer-liste li {
  list-style-type: none;
  margin: 10px;
  margin-left: 0;
  font-size: 1em;
}
.footer-liste li a {
  text-decoration: none;
  color: #fff;
}
.footer-liste li .footer-icon {
  margin-right: 10px;
  font-size: 12px;
  width: 15px;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 1;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}
@keyframes bounce {
  0% {
    transform: scale(1.2);
    opacity: 1;
  }
  30% {
    transform: scale(0.9);
    opacity: 0.8;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  90% {
    transform: scale(0.9);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
    z-index: -100;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0turn);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: rotate(2turn);
    opacity: 0;
    z-index: -100;
  }
}
@keyframes gradual-onset {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  90% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}
@keyframes checkslide {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 20%;
    opacity: 1;
  }
}
@keyframes checkspin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(-2turn);
  }
}
@keyframes fillheart {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.lieu {
  display: flex;
  justify-content: center;
  background-color: #e6e6e6;
}
.lieu .fas {
  color: #595959;
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
}
.lieu p {
  color: #595959;
  font-weight: bold;
}

.presentation {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}
.presentation h1 {
  font-size: 1em;
}
.presentation p {
  color: #595959;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 400px;
}
.fonctionnement h2 {
  width: 100%;
}
.fonctionnement .step-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

.step {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 1px 2px 10px 1px #cfcfcf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.step .num {
  color: #fff;
  background-color: #9356dc;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  padding: 5px;
  position: absolute;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step .step-txt {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  font-weight: bold;
}
.step .step-txt .step-icon {
  font-size: 25px;
  color: #595959;
  margin-right: 20px;
  margin-left: 20px;
}

.step:hover {
  background-color: #e4d5f6;
}
.step:hover .step-icon {
  color: #9356dc;
}

.restaurants {
  height: 1200px;
  background-color: #f2f2f2;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.restaurants h2 {
  font-size: 1.1em;
}

.restaurant-card {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.restaurant-card .card {
  text-decoration: none;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 2px 10px 5px #cfcfcf;
  position: relative;
  width: 100%;
  height: 20%;
  transform: scale(1);
  transition: transform 250ms;
}
.restaurant-card .card:hover {
  transform: scale(1.02);
}
.restaurant-card .card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurant-card .card .new {
  position: absolute;
  padding: 8px;
  color: #1b6453;
  background-color: #99e2d0;
  right: 20px;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 0.8em;
}

.preview {
  display: flex;
  padding-left: 10px;
}
.preview .info {
  width: 80%;
  color: #000;
}
.preview .info h3 {
  font-size: 1em;
  margin: unset;
}
.preview .info span {
  font-size: 0.8em;
}

.menu {
  max-width: 900px;
  margin: auto;
}
.menu img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.repas {
  background-color: #f2f2f2;
  margin-top: -50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
}
.repas .repas-titre {
  font-family: "shrikhand";
  display: flex;
  justify-content: space-between;
}
.repas .repas-titre h1 {
  font-size: 1.3em;
  width: 80%;
}

.all {
  margin-top: 0;
}
.all h2 {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: lighter;
}
.all h2 span {
  border-bottom: 3px solid #99e2d0;
}

.choix {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 0px #cfcfcf;
  margin-bottom: 30px;
  height: 75px;
  display: flex;
  opacity: 0;
  transform: translateY(0);
  animation: gradual-onset both ease-in-out 2s;
  transition: all 250ms;
}
.choix:hover .check-button {
  animation: checkslide 300ms ease-out;
  animation-fill-mode: both;
}
.choix:hover .check-button .check {
  animation: checkspin 300ms ease-out;
}
.choix .txt {
  padding: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "title ." "subtitle price";
}
.choix .txt > .child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: unset;
  font-size: 0.8em;
}
.choix .txt h3 {
  font-size: 1em;
  margin: unset;
  grid-area: title;
}
.choix .txt span {
  grid-area: subtitle;
}
.choix .txt .prix {
  grid-area: price;
  padding-left: 15px;
}

.card-1 {
  animation-delay: 200ms;
}

.card-2 {
  animation-delay: 400ms;
}

.card-3 {
  animation-delay: 600ms;
}

.card-4 {
  animation-delay: 800ms;
}

@media screen and (min-width: 700px) {
  .restaurants {
    height: 650px;
  }

  .restaurant-card {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurant-card .card {
    width: 45%;
    height: 45%;
  }

  .menu img {
    height: 400px;
  }
}
@media screen and (min-width: 900px) {
  .fonctionnement {
    height: 200px;
  }
  .fonctionnement .step-box {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
  }
  .fonctionnement .step-box .step {
    width: 27%;
  }
}
@media screen and (max-width: 415px) {
  footer .container {
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
