@font-face {
  font-family: "shrikhand";
  src: url("../font/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url("../font/Roboto-Medium.ttf") format("truetype");
}
body {
  width: 100%;
  margin: 0;
  font-family: "roboto";
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #fff;
}

.main-header {
  justify-content: center;
}

.header-menu {
  flex-direction: row;
  justify-content: space-evenly;
}

.btn {
  cursor: pointer;
  border: none;
}

.main-button {
  border-radius: 50px;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  color: #fff;
  padding: 15px;
  font-weight: bold;
  z-index: 1;
  position: relative;
}
.main-button:hover::after {
  opacity: 1;
}
.main-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, #ff93e1, #8641d8);
  border-radius: 50px;
  opacity: 0;
  z-index: -1;
  box-shadow: 1px 2px 10px 1px #656565;
  transition: opacity 400ms;
}

.heart-button {
  background-color: transparent;
}
.heart-button .fas {
  font-size: 23px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}
.heart-button .fas:hover {
  color: #ff79da;
  -webkit-text-stroke-color: #ff79da;
}

.back-button {
  color: #595959;
  align-items: center;
  display: flex;
  text-decoration: none;
}
.back-button .fas {
  font-size: 25px;
}

.check-button {
  width: 15%;
  height: 100%;
  align-self: center;
  background-color: #99e2d0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: none;
  justify-content: center;
  align-items: center;
}
.check-button .fas {
  color: #fff;
}

footer {
  background-color: #404040;
  padding: 20px;
  color: #fff;
}
footer h3 {
  font-size: 1.2em;
  font-family: "shrikhand";
}

.footer-liste {
  padding: 0;
}
.footer-liste li {
  list-style-type: none;
  margin: 10px;
  margin-left: 0;
  font-size: 0.8em;
}
.footer-liste li a {
  text-decoration: none;
  color: #fff;
}
.footer-liste li .fas {
  margin-right: 10px;
  font-size: 12px;
  width: 15px;
}

.lieu {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  background-color: #e6e6e6;
}
.lieu .fas {
  color: #595959;
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
}
.lieu p {
  color: #595959;
  font-weight: bold;
}

.presentation {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}
.presentation h1 {
  font-size: 1em;
}
.presentation p {
  color: #595959;
}

.fonctionnement {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 400px;
}
.fonctionnement h2 {
  width: 100%;
}
.fonctionnement .step-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

.step {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 1px 2px 10px 1px #cfcfcf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.step .num {
  color: #fff;
  background-color: #9356dc;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  left: -10px;
}
.step .step-txt {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.8em;
  width: 100%;
}
.step .step-txt .fas {
  font-size: 25px;
  color: #595959;
  margin-right: 20px;
}

.restaurants {
  height: 1200px;
  background-color: #f2f2f2;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.restaurants .container {
  width: 90%;
  height: 100%;
  margin: auto;
}
.restaurants .container h2 {
  font-size: 1.1em;
}

.restaurant-card {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.restaurant-card .card {
  text-decoration: none;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 2px 10px 5px #cfcfcf;
  position: relative;
  width: 100%;
  height: 20%;
}
.restaurant-card .card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurant-card .card .new {
  position: absolute;
  padding: 8px;
  color: #1b6453;
  background-color: #99e2d0;
  right: 20px;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 0.8em;
}

.preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 10px;
}
.preview .info {
  width: 75%;
  line-height: 3px;
  color: #000;
}
.preview .info h3 {
  font-size: 1em;
}
.preview .info span {
  font-size: 0.7em;
}
.preview .like {
  width: 20%;
}

.menu {
  margin-top: 70px;
  background-color: #f2f2f2;
}
.menu img {
  object-fit: cover;
  width: 100%;
  height: 260px;
}

.repas {
  background-color: #f2f2f2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 50px;
  height: 1400px;
}
.repas .repas-titre {
  width: 100%;
  font-family: "shrikhand";
  display: flex;
  justify-content: space-around;
}
.repas .repas-titre h1 {
  font-size: 1.3em;
}

.all {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  margin-top: 0;
  height: 90%;
}
.all h2 {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: lighter;
}
.all h2 span {
  border-bottom: 3px solid #99e2d0;
}

.choix {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 0px #cfcfcf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7%;
}
.choix:hover .check-button {
  display: flex;
}
.choix .txt {
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.choix .txt h3 {
  font-size: 0.8em;
  margin: 0;
}
.choix .txt span {
  font-size: 0.7em;
}
.choix .prix {
  padding: 15px;
  width: 10%;
  align-self: flex-end;
  font-size: 0.7em;
}

@media screen and (min-width: 700px) {
  .restaurants {
    height: 650px;
  }

  .restaurant-card {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurant-card .card {
    width: 45%;
    height: 45%;
  }
}
@media screen and (min-width: 900px) {
  .fonctionnement {
    height: 200px;
  }
  .fonctionnement .step-box {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
  }
  .fonctionnement .step-box .step {
    width: 27%;
  }

  .menu img {
    height: 320px;
  }

  .repas {
    height: 1000px;
  }
  .repas .all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .repas .all h2 {
    width: 100%;
  }
  .repas .all .choix {
    width: 45%;
    height: 10%;
  }
}

/*# sourceMappingURL=style.css.map */
