@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 1;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1.2);
    opacity: 1;
  }
  30% {
    transform: scale(0.9);
    opacity: 0.8;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  90% {
    transform: scale(0.9);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
    z-index: -100;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0turn);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: rotate(2turn);
    opacity: 0;
    z-index: -100;
  }
}

@keyframes gradual-onset {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  90% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes checkslide {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 20%;
    opacity: 1;
  }
}

@keyframes checkspin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(-2turn);
  }
}

@keyframes fillheart {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
