.btn {
  cursor: pointer;
  border: none;
}

.main-button {
  border-radius: $btn-rad;
  background: linear-gradient(to bottom, $secondary, $primary);
  color: $white;
  align-self: center;
  padding: 15px;
  font-weight: bold;
  z-index: 1;
  position: relative;
  &:hover {
    &::after {
      opacity: 1;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      lighten($secondary, 5),
      darken($primary, 5)
    );
    border-radius: $btn-rad;
    opacity: 0;
    z-index: -1;
    box-shadow: 1px 2px 10px 1px #656565;
    transition: opacity 400ms;
  }
}

.heart-button {
  background-color: transparent;
  .fas {
    font-size: 23px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $black;
    &:hover {
      color: $secondary;
      -webkit-text-stroke-color: $secondary;
    }
  }
}

.back-button {
  color: $dark-grey;
  align-items: center;
  display: flex;
  text-decoration: none;
  margin-right: 20px;
  .back {
    font-size: 25px;
  }
}

.check-button {
  width: 15%;
  height: 100%;
  align-self: center;
  background-color: $tertiary;
  border-top-right-radius: $bd-rad-all;
  border-bottom-right-radius: $bd-rad-all;
  display: none;
  justify-content: center;
  align-items: center;
  .check {
    color: $white;
  }
}
