.btn {
  cursor: pointer;
  border: none;
}

.purple-button {
  border-radius: 50px;
  background: linear-gradient(to bottom right, $secondaire 0%, $primaire 100%);
  color: #fff;
  padding: 15px;
  font-weight: bold;
}

.heart-button {
  background-color: transparent;
  .fas {
    font-size: 23px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    &:hover {
      color: $secondaire;
      -webkit-text-stroke-color: $secondaire;
    }
  }
}

.back-button {
  color: $dark-grey;
  align-items: center;
  display: flex;
  text-decoration: none;
  .fas {
    font-size: 25px;
  }
}

.check-button {
  width: 10%;
  height: 100%;
  align-self: center;
  background-color: $tertiaire;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  .fas {
    color: #fff;
  }
}
