footer {
  background-color: #404040;
  color: $white;
  .container {
    padding: 20px;
    h3 {
      font-size: 1.2em;
      font-family: "shrikhand";
    }
  }
  .menu-footer {
    max-width: 900px;
  }
}
.footer-liste {
  padding: 0;
  li {
    list-style-type: none;
    margin: 10px;
    margin-left: 0;
    font-size: 0.8em;
    a {
      text-decoration: none;
      color: $white;
    }
    .footer-icon {
      margin-right: 10px;
      font-size: 12px;
      width: 15px;
    }
  }
}
