header {
  height: 70px;
  width: 100%;
  display: flex;
  top: 0;
  z-index: 99;
  background-color: $white;
}

.main-header {
  justify-content: center;
}

.header-menu {
  flex-direction: row;
  justify-content: space-evenly;
}
