@font-face {
  font-family: "shrikhand";
  src: url("../font/Shrikhand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto";
  src: url("../font/Roboto-Medium.ttf") format("truetype");
}

body {
  width: 100%;
  margin: 0;
  font-family: "roboto";
  .loading-pg {
    width: 100%;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 1;
    z-index: 120;
    animation: loader 3s both ease-out;
    position: fixed;
    .bouncer {
      opacity: 1;
      z-index: 110;
      transform: scale(1);
      position: fixed;
      animation: bounce 3s both ease-in-out;
    }
    .spinner {
      border: 10px solid $bg-grey;
      border-radius: 50%;
      border-top: 10px solid $tertiary;
      width: 40px;
      height: 40px;
      margin-top: 150px;
      opacity: 1;
      z-index: 110;
      animation: spin 3s both linear;
    }
  }
}
.container {
  width: 90%;
  height: 100%;
  margin: auto;
  max-width: 1100px;
}
