@media screen and (min-width: 700px) {
  .restaurants {
    height: 650px;
  }
  .restaurant-card {
    flex-direction: row;
    flex-wrap: wrap;
    .card {
      width: 45%;
      height: 45%;
    }
  }
  .menu img {
    height: 400px;
  }
}

@media screen and (min-width: 900px) {
  .fonctionnement {
    height: 200px;
    .step-box {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      height: auto;
      .step {
        width: 27%;
      }
    }
  }
}
@media screen and (max-width: 415px) {
  footer .container {
    padding: 10px;
  }
}
